.form-styles
{
    margin: 0;
    padding: 0;
}
.form-styles div{
	font-size: 12px;
}
.form-styles div label{
	text-align: left;
}
.panel-footer.form-footer {
	text-align: right;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.form-footer div {
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
@media (max-width: 768px) {
	.panel-footer.form-footer {
		text-align: center;
	}	
}