.form-styles
{
    margin-top: 10px;
    padding: 0;
}
.form-styles div{
	font-size: 12px;
}
.form-styles div label{
	text-align: left !important;
}
.panel-footer.form-footer {
	font-size: 12px;
}
.form-footer div {
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
.tab_index{
	background: rgb(239, 239, 239);
}
.tab_index  .sidebar{
	display: block;
}
.tab_index ul {
	font-weight: bold;
	font-size: 15px;
}
.content_index ul{
	font-weight: bold;
	font-size: 15px;	
}
.ui-grid{ 
	width:100% !important; 
}
#modalBusquedas .ui-widget{
	font-size: 11px;
}
#modalBusquedas .table thead th{
	text-align: center !important;
}
#agregar_productos input{
	width:50%;
}
#agregar_productos button{
	width:30%;
}
.ui-autocomplete {
	z-index: 999999999 !important;
}
.ui-widget{
	z-index: 999999999 !important;
}
.sidebar{
	display: block;
}
@media (max-width: 768px) {
	.panel-footer.form-footer {
		text-align: center;
	}	
	
}