.form-styles
{
    margin-top: 10px;
    padding: 0;
}
.form-styles div{
	font-size: 12px;
}
.form-styles div label{
	text-align: left !important;
}
.panel-footer.form-footer {
	font-size: 12px;
}
.form-footer div {
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
.tab_index  .sidebar{
	display: block;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #004080;
  color:#eeeeee;
}
#modalBusquedas .table thead th{
	text-align: center !important;
}
@media (max-width: 768px) {
	.panel-footer.form-footer {
		text-align: center;
	}	
}